.bestm_section{
    text-align: center;
    padding: 70px 0;
    h2{
        font-size: 40px;
        color: purple;
    }
    h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 16px;
        color: orange;
    }
    p{
        font-size: 25px;
    }
}